<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'banner.jpg'  %>);">
  <div class="container">
    <h1>Gets.Chompignons</h1>
    <p>Les champignons bons pour le morale !</p>
    <%= link_to 'Ajouter un chompignon', new_mushroom_path(@mushroom), class: "btn btn-ghost" %>
  </div>
</div>

   <% @mushrooms.each do |mushroom| %>
      <%= link_to mushroom.name, mushroom %>
      <br>
  <% end %>


