<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'banner.jpg'  %>);">
  <div class="container">
    <h1>Gets.Chompignons</h1>
    <p>Les champignons bons pour le moral !</p>
    <%= link_to 'Ajouter un chompignon', new_mushroom_path(@mushroom), class: "btn btn-ghost-banner" %>
    </div>
</div>

<div class="container">

   <% @mushrooms.each do |mushroom| %>
   <hr>
    <% if mushroom.photo.attached? %>
      <%= cl_image_tag mushroom.photo.key, height: 200, width: 200, crop: :fill %>
    <% end %>
    <%= link_to mushroom.name, mushroom %>
    <br>
  <hr>
  <% end %>
</div>
