<h1>Tous les champigons</h1>

<!-- Banner différente de la home avec CTA -->

<%= link_to 'Créer un chompignon', new_mushroom_path(@mushroom), class: "btn btn-ghost" %>

   <% @mushrooms.each do |mushroom| %>
   <hr>
    <% if mushroom.photo.attached? %>
      <%= cl_image_tag mushroom.photo.key, height: 200, width: 200, crop: :fill %>
    <% end %>
    <%= link_to mushroom.name, mushroom %>
     - <%= mushroom.average_rating %> ⭐️
    <br>
  <hr>
  <% end %>
</div>
