
<div class="container-new">

  <div class="row justify-content-center">
    <div class="col-md-8" id="title-new-mush">
      <center><h1>Créez votre propre chompignon !</h1></center>

      <%= render 'form-create', mushroom: @mushroom %>

    </div>
  </div>
</div>


<p class="tip"></p>
