
    <div class="contenu">
        <h1>Le Footer...</h1>
        <p>Lorem ipsum dolor sit amet</p>
    </div>


    <footer>

      <div class="contenu-footer">

        <div class="bloc footer-services">
          <h3>Nos Services</h3>

          <ul class="liste-services">
              <li><a href="#">Hebergement</a></li>
              <li><a href="#">Nom de domaine</a></li>
              <li><a href="#">E-commerce</a></li>
              <li><a href="#">Machine Learn</a></li>
              <li><a href="#">Finances</a></li>
          </ul>
        </div>
        
        <div class="bloc footer-contact">
          <h3>Restons en contact</h3>
          <p>06-25-36-98-34</p>
          <p>supportclient@contact.com</p>
          <p>12 avenue de la Forêt, Chompville, 974000</p>
        </div>        
      
        <div class="bloc footer-horaires">
          <h3>Les horaires</h3>
          <ul class="liste-horaires">
              <li>✔️ Lun 10h-19h</li>
              <li>✔️ Mar 10h-19h</li>
              <li>✔️ Mer 10h-19h</li>
              <li>✔️ Jeu 10h-19h</li>
              <li>✔️ Ven 10h-19h</li>
              <li>❌ Sam fermé</li>
              <li>❌ Dim fermé</li>
          </ul>
        </div>

        <div class="bloc footer-medias">
          <center><h3>Nos réseaux</h3></center>
          <ul class="liste-media">
              <li><i class="fab fa-facebook"></i></li>
              <li><i class="fab fa-twitter-square"></i></li>
              <li><i class="fab fa-instagram"></i></li>
              <li><i class="fab fa-youtube"></i></li>
          </ul>
        </div>          
        
      </div>
    </footer>






