<%# <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
<%#  %>
  <br>
    <div class="footer">
 

      <div class="text1">
        
      </div>

          <div class="flex-container">

            <div class="flex-item">
              <h2 class="logo">Gets Chomp</h2>
            </div>

            <div class="flex-item2">
              <p>Envie de gros champigons?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            </div>

            <div class="flex-item3">
            <h2>Product</h2>
            </div>
          </div>

      
    </div>

  <br>



