<footer>

  <div class="contenu-footer">

    <div class="bloc footer-services">
      <h3>Nous découvrir</h3>

      <ul class="liste-services">
          <li><a href="https://fr.wikipedia.org/wiki/Dieu" target="_blank">Notre histoire</a></li>
          <li><a href="https://github.com/Elisztomania/gets_chompignons" target="_blank">Notre repository</a></li>
          <li><a href="https://www.lewagon.com/" target="_blank">Notre sponsor officiel</a></li>
<!--           <li><a href="https://www.youtube.com/watch?v=oSmUI3m2kLk" target="_blank">Notre inspiration</a></li>
 -->      </ul>
    </div>

<!--     <div class="bloc footer-contact">
      <h3>Restons en contact</h3>
      <h4>06-06-43-90-02</h4>
      <h4>gets_chompignons@foret_enchantee.com</h4>
      <h4>12 merveilles de la Forêt, Chompville, 974000</h4>
    </div> -->

    <div class="bloc footer-medias">
      <center><h3>Nos réseaux</h3></center>
      <ul class="liste-media">
          <li><%= link_to "https://github.com/Elisztomania/gets_chompignons", class: "a" do %><i class="fab fa-github rose"></i>
          <% end %></li>
          <li><%= link_to "https://www.instagram.com/lewagonlyon/", class: "a" do %><i class="fab fa-instagram rose"></i>
          <% end %></li>
          <li><%= link_to "https://www.youtube.com/watch?v=oSmUI3m2kLk", class: "a" do %><i class="fab fa-youtube rose"></i>
          <% end %></li>
      </ul>
    </div>

  </div>
</footer>
