

<br>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'banner.jpg'  %>);">
  <div class="container">
    <h1>Gets.Chompignons</h1>
    <p>Les champignons bons pour le moral !</p>
    <%= link_to 'Voir tous les chompignons', mushrooms_path, class: "btn btn-ghost-banner" %>
    </div>
</div>

<br>
<div class="container">

    <br>
    <%= render './shared_b/carousel' %>

<div>