


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1440581572325-0bea30075d9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);">
  <div class="container-banner">
    <h1>Les champignons bons pour le moral !</h1>
    <p></p>
    <%= link_to 'Voir tous les chompignons', mushrooms_path, class: "btn btn-ghost-banner" %>
    </div>
</div>
<br>
<br>
      <div class="container-shared-carousel">
          <%= render './shared_b/carousel' %>
      </div>

<br>
<br>
