<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1508589694474-d649ed1476ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1850&q=80);">
  <div class="container">
    <center><h1><strong>Des champignons bons pour le moral 🤤</strong></h1></center>
  </div>
</div>
