<div class="section-banner-show-chompignon">
  <div class="img-chompignon">
    <img src="https://afsq.org/wp-content/uploads/2017/07/Chanterelle-commune2.jpg" alt="champis">
  </div>
  <div class="details-chompignon">
    <h1><strong>La chanterelle </strong></h1>
    <p>⭐⭐⭐⭐⭐</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque odio praesentium assumenda explicabo reprehenderit hic animi molestiae cupiditate molestias est soluta quae sint ut, iusto repellendus ducimus. Ut, tenetur, placeat.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque odio praesentium assumenda explicabo reprehenderit hic animi molestiae cupiditate molestias est soluta quae sint ut, iusto repellendus ducimus. Ut, tenetur, placeat.</p>
  </div>
</div>
