<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1488330890490-c291ecf62571?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1>Tous les champignons</h1>
    <p>Vous ne trouvez pas votre bonheur?</p>
    <%= link_to 'Créer un chompignon', new_mushroom_path(@mushroom), class: "btn btn-flat" %>
  </div>
</div>
