<div class="banner-welcome" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1487621167305-5d248087c724?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1850&q=80);">
  <div class="container-welcome">
    <h1><strong>Bienvenue Jean Luc Cocinnelle !</strong></h1>
    <p><strong>“Tous les chompignons sont comestibles, certains une fois seulement”</strong></p>
    <a class="btn btn-gradient" href="#">Ajouter un champignon</a>
  </div>
</div>
