<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/2876511/pexels-photo-2876511.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=800);">
  <div class="container">
    <h1>Tous les champignons</h1>
    <p>Vous ne trouvez pas votre bonheur?</p>
    <%= link_to 'Créer un chompignon', new_mushroom_path(@mushroom), class: "btn btn-flat" %>
  </div>
</div>
