<div class="container-section-card-review">
  <div class="container-card-product-review">
    <div class="card-product-review">
        <div class="text-card-review">
          <center><h2>Review de Bob</h2><center>
          <p>⭐⭐⭐⭐⭐</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque odio praesentium assumenda explicabo reprehenderit hic animi molestiae cupiditate molestias est soluta quae sint ut, iusto repellendus ducimus. Ut, tenetur, placeat.</p>
        </div>
    </div>

    <div class="card-product-review">
        <div class="text-card-review">
          <center><h2>Review de Lolo</h2><center>
          <p>⭐⭐⭐⭐⭐</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque odio praesentium assumenda explicabo reprehenderit hic animi molestiae cupiditate molestias est soluta quae sint ut, iusto repellendus ducimus. Ut, tenetur, placeat.</p>
        </div>
    </div>
  </div>
</div>

<div class="container-section-card-review">
  <div class="container-card-product-review">
    <div class="card-product-review">
        <div class="text-card-review">
          <center><h2>Review de Bob</h2><center>
          <p>⭐⭐⭐⭐⭐</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque odio praesentium assumenda explicabo reprehenderit hic animi molestiae cupiditate molestias est soluta quae sint ut, iusto repellendus ducimus. Ut, tenetur, placeat.</p>
        </div>
    </div>

    <div class="card-product-review">
        <div class="text-card-review">
          <center><h2>Review de Lolo</h2><center>
          <p>⭐⭐⭐⭐⭐</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque odio praesentium assumenda explicabo reprehenderit hic animi molestiae cupiditate molestias est soluta quae sint ut, iusto repellendus ducimus. Ut, tenetur, placeat.</p>
        </div>
    </div>
  </div>
</div>
