<div class="section-features">
  <div class="text-first-feature">
    <h1><strong>Pourquoi choisir gets.chompignons ?</strong></h1>
    <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Pariatur doloremque, officia repudiandae suscipit! Sint facilis eos esse quo odit numquam deserunt accusamus quibusdam? Facere reiciendis ea in quisquam, maxime aspernatur.</p>
  </div>
  <div class="img-first-feature">
    <img src="https://images.unsplash.com/photo-1602723303777-606d38b2ea71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80" alt="champis">
  </div>
</div>


<div class="section-features">
  <div class="img-second-feature">
    <img src="https://images.unsplash.com/photo-1574872375587-68a635a9389b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80" alt="champis">
  </div>
  <div class="text-second-feature">
    <h1><strong>Notre histoire </strong></h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque odio praesentium assumenda explicabo reprehenderit hic animi molestiae cupiditate molestias est soluta quae sint ut, iusto repellendus ducimus. Ut, tenetur, placeat.</p>
  </div>
</div>

