<p class="tip"></p>
<div class="cont-add-edit">
  <div class="form-add_edit">
    <h2>YO,</h2>
    <label>
      <span>Nom</span>
      <input type="nom" />
    </label>
    <label>
      <span>Description</span>
      <input type="description" />
    </label>
    <label>
      <span>Localisation</span>
      <input type="location" />
    </label>
    <label>
      <span>Chapeau</span>
      <input type="cap" />
    </label>
     <label>
      <span>Comestible</span>
      <input type="comestible" />
    </label>
    <p class="forgot-pass">Mot de passe oublié?</p>
    <button type="button" class="submit">Ajouter un chompignon</button>
  </div>
</div>




