<p class="tip"></p>
<div class="cont">
  <div class="form sign-in">
    <h2>Bienvenue,</h2>
    <label>
      <span>Email</span>
      <input type="email" />
    </label>
    <label>
      <span>Mot de passe</span>
      <input type="password" />
    </label>
    <p class="forgot-pass">Mot de passe oublié?</p>
    <button type="button" class="submit">Sign up</button>
    <button type="button" class="fb-btn">Se connecter avec <span>facebook</span></button>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>Nouveau sur gets.chompignon?</h2>
        <p>Inscris toi pour tout connaitre sur les GROS chompignons</p>
      </div>
      <div class="img__text m--in">
        <h2>Habitué de gets.chompignon?</h2>
        <p>Si tu as déjà crée un compte, tu as juste à te connecter. Tu nous avais manqué!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Log in</span>
        <span class="m--in">Sign up</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Dis moi tout frero,</h2>
      <label>
        <span>Nom</span>
        <input type="text" />
      </label>
      <label>
        <span>Email</span>
        <input type="email" />
      </label>
      <label>
        <span>Mot de PASSE</span>
        <input type="password" />
      </label>
      <button type="button" class="submit">Log in</button>
      <button type="button" class="fb-btn">Se connecter avec <span>facebook</span></button>
    </div>
  </div>
</div>




