  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1602723303777-606d38b2ea71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80)"></div>
      <ul class="details">
        <li class="author"><a href="#">Un projet exceptionnel</a></li>
        <li class="date">Une équipe incroyable</li>
        <li class="tags">
          <ul>
            <li><a href="#">CHOM</a></li>
            <li><a href="#">PI</a></li>
            <li><a href="#">GNONS</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Pourquoi choisir gets.chompignons ?</h1>
      <h2>Très bonne question</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <p class="read-more">
        <a href="#">Read More</a>
      </p>
    </div>
  </div>
  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1574872375587-68a635a9389b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80)"></div>
      <ul class="details">
        <li class="author"><a href="#">Un projet exceptionnel</a></li>
        <li class="date">Une équipe incroyable</li>
        <li class="tags">
          <ul>
            <li><a href="#">CHOM</a></li>
            <li><a href="#">PI</a></li>
            <li><a href="#">GNONS</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Notre histoire</h1>
      <h2>L'histoire de gets.chooomp</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <p class="read-more">
        <a href="#">Read More</a>
      </p>
    </div>
  </div>
