<div id="container">

<!-- Start  Product details -->
  <div class="product-details">

<!--  Product Name -->
  <h1>Biru Putaran</h1>
<!-- The most important information about the product -->
    <p class="information">" Especially good for container gardening, the Angelonia will keep blooming all summer even if old flowers are removed. Once tall enough to cut, bring them inside and you'll notice a light scent that some say is reminiscent of apples. "</p>

<!--    Control -->
<div class="control">
<!-- Start Button buying -->
  <button class="btn">
<!--    the Price -->
   <span class="price">49 $</span>
<!--    shopping cart icon-->
   <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
<!--    Buy Now / ADD to Cart-->
   <span class="buy">Buy Now</span>
 </button>
  <!-- End Button buying -->
</div>

</div>

<div class="product-image">

  <img src="https://afsq.org/wp-content/uploads/2017/07/Chanterelle-commune2.jpg" alt="Omar Dsoky">

<!--  product Information-->
<div class="info">
  <h2>The Description</h2>
  <ul>
    <li><strong>Sun Needs: </strong>Full Sun</li>
    <li><strong>Soil Needs: </strong>Damp</li>
    <li><strong>Zones: </strong>9 - 11</li>
    <li><strong>Height: </strong>2 - 3 feet</li>
    <li><strong>Blooms in: </strong>Mid‑Summer - Mid‑Fall</li>
    <li><strong>Features: </strong>Tolerates heat</li>
  </ul>
</div>
</div>
<!--  End product image  -->

</div>

