
<ul class="card-list">

<% @mushrooms.each do |mushroom| %>

    <div class="card ">
      <%= link_to mushroom do %>
      <% if mushroom.photo.attached? %>
        <%= cl_image_tag mushroom.photo.key, height: 320, width: 320, crop: :fill %>
      <% end %>


      <div class="card-description">
        <%= link_to mushroom.name, mushroom %>
        <%= mushroom.average_rating %> <i class="fas fa-star"></i>
      </div>
      <% end %>
      </div>
      <% end %>
</ul>
