.container-combi {
  width: 1100px;
  margin: 40px auto;
}

.section-banner-show-chompignon {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 50px 120px 50px 120px;
  border-radius: 4px;
}

.img-chompignon img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding: 10px;
}

.details-chompignon {
  padding: 16px 16px;
  max-width: 70%;
    h2 {
      text-align: center;
      padding-bottom: 16px;
      padding-top: 16px;
    }
}

.btn-fav-fav {
  padding-left: 95%;
  padding-top: 8%;
  display: right;
}

.gros_container {
  margin: 0px;
  padding-bottom: 20px;
}

.back {
  margin-left: 91%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline .item {
  padding-bottom: 5px;
}

.reviews {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 50px 120px 50px 120px;
  border-radius: 4px;
  padding-bottom: 20px;
}

.max-width {
  width: 1120px;
}

.title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 40px;
    h2 {
      margin: 8px 0 0 0;
    }
}

.badge {
  background-color: rgb(215, 108, 113);
  align-items: center;
  padding-top: 5px;
}
