.banner-index .container {
  padding: 20vh;
  text-align: center;
}

.banner-index h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
}

.banner-index p {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 16px;
  font-weight: bold;
}
