.text-first-feature {
  margin-left: 50px;
  margin-right: 120px;
}

.img-second-feature {
  margin-left: 50px;
  margin-right: 120px;
}



.feature-product .feature-product-infos {
  padding: 16px;
}

.section-features {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  display: flex;
  margin: 150px;
  justify-content: space-between;
  padding: 100px;
  border-radius: 4px;

}

.section-features h1 {
  color: #1EDD88;
}
