.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-brand {
  display: flex;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  display: flex;
}

.nav-link {
    color: black;
    text-decoration: none;
    background-color: transparent;
    font-size: 15px;
    // font-family: Montserrat;
    font-weight: 400;
}

.center {
  height: 70px;
  line-height: 70px; /* same as height! */
}

.navbar h3 {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}


.nav-item .fa-heart {
  font-size: 16px;
}

