.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
    color: black;
    text-decoration: none;
    background-color: transparent;
    font-size: 17px;
    // font-family: Montserrat;
    font-weight: 400;
}

.center {
  height: 70px;
  line-height: 70px; /* same as height! */
}

.center h1 {
  height: 70px;
  line-height: 70px; /* same as height! */
}
