

<div class="form-inputs">

<%= simple_form_for [@mushroom, @review] do |f| %>
   <%= f.input :rating, collection: 0..5, label: 'Note sur 5' %>
   <%= f.input :content, label: 'Avis' %>
   <%= f.button :submit, "Mettre à jour mon avis", class: 'btn-form' %>

<% end %>


</div>
