<div class="container">


  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3>Ajouter un avis sur ce chompignon</h3>

      <%= render 'form', mushroom: @mushroom, review: @review %>
    </div>
  </div>
</div>


