<div class="container-new">


  <div class="row justify-content-center">
    <div class="col-md-8" id="title-new-mush">
     <center><h1>Ajouter un avis sur ce chompignon</h1></center>

      <%= render 'form', mushroom: @mushroom, review: @review %>
    </div>
  </div>
</div>


